section {
  padding: 10px;
}

.button {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
}

.collapse {
  height: 0;
  overflow-y: hidden;
  transition: height .3s;
}

.collapse[area-hidden="false"] {
  height: auto;
  overflow-y: visible;
}
